body{
    background-image: url("jennie\ back\ 2.jpg");
    font-family: 'cursive';
    font-size: x-large;
    background-repeat: no-repeat;
     background-size: 1500px 2500px;
}
h1{
    font-family: 'cursive';
    color: rgb(57, 138, 141);
    font-size:xx-large;
}